<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<%if @ideas.any? %>
    <% @ideas.each do |idea|%>
      <tr>
        <td><%= link_to idea.name, idea_path(idea) %></td>
        <td><%= idea.description %></td>
        <td><%= idea.likes_number %></td>
        <td><i class="material-icons">thumb_up</i><%= link_to 'like', new_like_path({"idea_id" =>"#{idea.id}"}) %></td>
        <td><i class="material-icons">thumb_down</i><%= link_to 'dislike', dislike_path({"idea_id" =>"#{idea.id}"}) %></td>
      </tr>
    <% end %>
<% else %>
  <p>No ideas yet</p>

<% end %>
</table>
<% if user_signed_in? %>
  <br>
  <a href="/ideas/new" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add an idea</a>
<% end %>
